version: "3.9"

services:
  api:
    build:
      context: ../src
      dockerfile: ../docker/Dockerfile
    image: jwt-auth
    ports:
      - "8000:8000"
    env_file:
      - ../src/.env
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"